<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
<h1>My Blog Post</h1>
<p>Add your post in the form below and "submit". This will render your post to the DOM below</p>

<form action="/addPost" method="post">
    <input type="text" placeholder="Thing which I am posting" name="content">
    <input type="submit" title="Submit your post" class="submitBtn">
</form>

<br><br>

<h1>Posts:</h1>
<ul class="postItems">
    <% for(let i = 0; i < items.length; i++) { %>
        <li class="item">
            <span id="postContent<%= i %>"><%= items[i].thing %></span>
            <button class="fa fa-edit updateBtn" data-id="<%= items[i]._id %>" title="Update"></button>
            <span class="fa fa-trash deleteBtn" title="Delete"></span>
        </li>
    <% } %>
</ul>



   <script src='./js/main.js'></script>
   &COPY;Chris Renshaw, software engineer.
<a href="https://www.chrisrenshaw.net" target="_blank">Chris Renshaw's Website</a>

</body>
</html>
