body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

h1{
    color:aqua;
    font-size: 1.5rem;
}

.blogPost{
    font-weight: bold;
    color: rgb(61, 19, 19);
    font-size: 1.5rem;
}

.updateBtn{
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    padding: 5px 10px;
}