body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

h1{
    color:aqua;
    font-size: 30px;
}

.blogPost{
    font-weight: bold;
    background-color: rgb(61, 19, 19);
    font-size: 30px;
}

.submitBtn{
    font-weight:900;
    color: burlywood;
    padding: 10px 20px;
}

.updateBtn{
    border-radius: 5px;
}